@font-face {
  font-family: 'Merriweather-Light'; 
  src: url(../fonts/Merriweather-Light.ttf); 
}

@font-face {
  font-family: 'Comorant-Medium'; 
  src: url(../fonts/Cormorant-Medium.ttf); 
}

@font-face {
  font-family: 'PlayfairDisplay'; 
  src: url(../fonts/PlayfairDisplay.ttf); 
}