@font-face {
  font-family: 'PlayfairDisplay-Italic'; 
  src: url(../fonts/PlayfairDisplay-Italic.ttf); 
}

@font-face {
  font-family: 'PlayfairDisplay'; 
  src: url(../fonts/PlayfairDisplay.ttf); 
}

@font-face {
  font-family: 'Merriweather-Light'; 
  src: url(../fonts/Merriweather-Light.ttf); 
}

@font-face {
  font-family: 'Cormoranr-Regular'; 
  src: url(../fonts/Cormorant-Regular.ttf); 
}
@font-face {
  font-family: 'Comorant-Medium'; 
  src: url(../fonts/Cormorant-Medium.ttf); 
}
@font-face {
  font-family: 'MarckScript-Regular'; 
  src: url(../fonts/MarckScript-Regular.ttf); 
}